//index.html styles
#navbar {
  background-color: #ffcc80;
}

.logoImg {
  height: 60px;
  margin-top: 4px;
}

.mainRow {
  height: 86vh;
}
.mainCol {
  height: 100%;
  overflow: scroll;
}


//board-list.html styles

.addBoardCardWrapper {
  height: 270px;
}

.addBoardCard {
  height: 250px;
  padding: 20px 12px;
}

.addBoardButtonWrapper {
  margin-top: 50px;
  margin-left: 40%;
}

.BoardCardWrapper {
  height: 270px;
}

.BoardCard {
  height: 250px;
  padding: 8px 8px;
  cursor: pointer;
}



//single-board.html styles

.pinRow {
  height: 75vh;
}

.pinCol {
  height: 100%;
}

.imgDiv img {
  width: 100%;
  max-height: 400px;
}

.pinWrapper {
  padding: 8px;
}


.deletepinbtn {
  background-color: #84CAB3;
}



//dunno
.cardImgWrapper {
  height: 70%;
}

.singlePinWrapper {
  height: 575px;
}

.pinCard {
  height: 550px;
  padding: 8px 8px;
}




