<h4 class="center-align">User.name's boards</h4><!-- 'View Boards' Header -->

<div class="row"><!-- row wrapper -->

  <div class="col s6 m4 addBoardCardWrapper"><!-- 'Add Board' card wrapper -->

    <div class="card addBoardCard"><!-- 'Add Board' card -->
      <div class="addBoardButtonWrapper">
        <p><a class="btn-floating btn-large waves-effect waves-light red addBoardButton"><i class="material-icons">add</i></a></p>
        <span class="cardCaption">Add new</span>
      </div>

    </div><!-- end 'Add Board' card -->
  </div><!-- end 'Add Board' card wrapper -->



<!-- placeholder templates for board cards.  probably will use ng-repeat for these -->

  <div class="col s6 m4 BoardCardWrapper"><!-- board card wrapper -->
    <div class="card BoardCard"><!-- board card -->
      <div class="cardImgWrapper orange lighten-5"><!-- img wrapper -->
        <span>Img goes here</span>
      </div><!-- end img wrapper -->
      <div class="cardBottomWrapper"><!-- card bottom wrapper, for title and edit link -->
        <span>Card Title</span><br>
        <span>100 pin-ups</span><br>
        <span><a class="" href="#!">Edit</a></span>
      </div><!-- end card bottom wrapper -->
    </div><!-- end board card -->
  </div><!-- end board card wrapper -->



</div><!-- end row wrapper -->