<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
        <div class="row">
          <div class="col s1">
            Logo
          </div>
          <div class="col s1">
            <label for="search"><i class="material-icons">search</i>
            </label>
          </div>
          <div class="col s5">
            <input id="search" type="search" required>
          </div>
          <div class="col s2">
            Dropdown
          </div>
          <div class="col s2">
            User Ctrl
          </div>
          <div ng-show="$parent.isLoggedIn"><a ng-click="logout()">Logout</a></div>
        </div>
      </div>
  </nav>
</div>
