<!-- nav container + controller ref -->
<div class="navbar-fixed" ng-controller="NavCtrl">

<!-- dropdown content-->
  <ul id="dropdown1" class="dropdown-content">
    <li><a ng-href="#/boards/home">My Boards</a></li>
    <li><a href="#/pins/newpin">New Pin</a></li>
    <li><a href="" ng-click="logoutUser()">Log out</a></li>
  </ul>

<!-- nav bar -->
  <nav id="navbar">
    <div class="nav-wrapper">
        <div class="row">
          <div class="col s1"> <!-- logo -->
            <a href="#/boards/home"><img class="logoImg" src="img/pinup.png"></a>
          </div>
          <div class="col s1"> <!-- search bar label, search bar -->
            <label for="search"><i class="material-icons">search</i>
            </label>
          </div>
          <div class="col s5">
            <input id="search" type="search" ng-model="searchText.search">
          </div>
          <div class="col s2"> <!-- drop down -->
            <a class="dropdown-button" href="#!" data-activates="dropdown1"><i id="dropdownIcon" class="material-icons right">toc</i></a>
          </div>
        </div>
      </div>
  </nav>
</div>
