
  <div class="col s8 m8 offset-m2 singlePinWrapper"><!-- board card wrapper -->
    <div class="card pinCard"><!-- board card -->
      <div class="cardImgWrapper orange lighten-5"><!-- img wrapper -->
        <div class="card-image">
          <div class="chip"><i class="close material-icons">close</i></div>
            <img class="responsive-img" src="http://materializecss.com/images/sample-1.jpg">
          <span class ="card-title">Card Title</span>
        </div><!-- end img wrapper -->
      </div>
      <div class="cardBottomWrapper"><!-- card bottom wrapper, for title and edit link -->
        <span class="description">Lorem ipsum ahdhsofihs djfskrg sdfjhjksg sfjkghjsdg jksfgb</span>
        <span><a class="" href="#!">Edit</a></span>
      </div><!-- end card bottom wrapper -->
    </div><!-- end board card -->
  </div><!-- end board card wrapper -->
