<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pinUp</title>
    <link rel="stylesheet" type="text/css" href="lib/bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <section class="auth-form">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" autofocus="true" ng-model="account.email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" ng-model="account.password">
              <label for="password">Password</label>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large" ng-click="login()">Login</a>
            <a class="waves-effect waves-light btn-large" ng-click="register()">Register</a>
          </div>
        </div>
      </div>
    </section>



    <!-- 3rd party libs -->
    <script type="text/javascript" src="lib/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bower_components/materialize/dist/js/materialize.min.js">
    </script>
    <script type="text/javascript" src="lib/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
    <!-- App specific files -->
    <script type="text/javascript" src="app/app.js"></script>
    <!-- providers -->

    <!-- controllers -->

  </body>
</html>

